#circulo {
  margin: 0 auto;
  display: block; 
  text-align: center;
  justify-content: center;
}

#circulo2 {
  margin: 0 auto;
  display: block; 
  text-align: center;
  justify-content: center;
  color: red;
}

.sliders {
  display: inline-block;
}

#distance {
  width: 105px;
}

.medida {
  width: 105px;
}

#rangos {
  background-color: black;
}

.textInput1 {
  width: 8%;
}

#luminancia {
  width: 11%;
}

body {
  background-color: black;
}

p {
  color: white;
}

label {
    color: white;
}

  
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #ffffff; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #b1b1b1; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #b1b1b1; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }